In [137]:
from itertools import product
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot
pd.options.display.float_format = '${:,.2f}'.format

In [138]:
df = pd.read_csv('./data.csv')
df.shape

(17, 3)

In [139]:
df.head()

   height  class  price
0      65      2   3190
1      65      3   3400
2      70      4   3863
3      85      2   4105
4      85      3   4644

In [140]:
sc = StandardScaler()

In [141]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [142]:
X = sc.fit_transform(X)

/home/greg/.virtualenvs/ga/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/greg/.virtualenvs/ga/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [143]:
gs = GridSearchCV(r,{'C': [1,10,100,1000,10000,100000], 'kernel': ['rbf', 'linear']}, cv=3)

In [144]:
gs.fit(X, y)

/home/greg/.virtualenvs/ga/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [1, 10, 100, 1000, 10000, 100000], 'kernel': ['rbf', 'linear']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [145]:
gs.best_estimator_

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [146]:
gs.best_estimator_.score(X, y)

0.8406863606068224

#### Make predictions against full parameter sweeps

In [155]:
# make class and heights
h = np.arange(65,145,5)
c = np.arange(1,15,1)

In [157]:
# create matrix of all possible input features
feat_pred = pd.DataFrame(list(product(h,c)), columns=['height', 'class'])

In [158]:
# create predictions against the standard scaled versions of those features
tgt_pred = pd.DataFrame(gs.best_estimator_.predict(sc.transform(feat_pred)), columns=['price'])

/home/greg/.virtualenvs/ga/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [159]:
# join those shits
df_pred = feat_pred.join(tgt_pred)

In [160]:
out = df_pred.pivot(index='height', columns='class')
out

           price                                                              \
class         1         2         3         4         5         6         7
height
65     $2,657.84 $3,028.87 $3,399.90 $3,770.93 $4,141.96 $4,512.99 $4,884.01
70     $2,939.87 $3,310.90 $3,681.93 $4,052.96 $4,423.99 $4,795.01 $5,166.04
75     $3,221.90 $3,592.93 $3,963.96 $4,334.99 $4,706.01 $5,077.04 $5,448.07
80     $3,503.93 $3,874.96 $4,245.99 $4,617.01 $4,988.04 $5,359.07 $5,730.10
85     $3,785.96 $4,156.99 $4,528.01 $4,899.04 $5,270.07 $5,641.10 $6,012.13
90     $4,067.99 $4,439.01 $4,810.04 $5,181.07 $5,552.10 $5,923.13 $6,294.16
95     $4,350.01 $4,721.04 $5,092.07 $5,463.10 $5,834.13 $6,205.16 $6,576.19
100    $4,632.04 $5,003.07 $5,374.10 $5,745.13 $6,116.16 $6,487.19 $6,858.21
105    $4,914.07 $5,285.10 $5,656.13 $6,027.16 $6,398.19 $6,769.21 $7,140.24
110    $5,196.10 $5,567.13 $5,938.16 $6,309.19 $6,680.21 $7,051.24 $7,422.27
115    $5,478.13 $5,849.16 $6,220.18 $6,591.21 $6,962.24 $7,333.27 $7,704.30
120    $5,760.16 $6,131.18 $6,502.21 $6,873.24 $7,244.27 $7,615.30 $7,986.33
125    $6,042.18 $6,413.21 $6,784.24 $7,155.27 $7,526.30 $7,897.33 $8,268.36
130    $6,324.21 $6,695.24 $7,066.27 $7,437.30 $7,808.33 $8,179.36 $8,550.38
135    $6,606.24 $6,977.27 $7,348.30 $7,719.33 $8,090.36 $8,461.38 $8,832.41
140    $6,888.27 $7,259.30 $7,630.33 $8,001.36 $8,372.38 $8,743.41 $9,114.44

                                                                        \
class         8         9          10         11         12         13
height
65     $5,255.04 $5,626.07  $5,997.10  $6,368.13  $6,739.16  $7,110.19
70     $5,537.07 $5,908.10  $6,279.13  $6,650.16  $7,021.19  $7,392.21
75     $5,819.10 $6,190.13  $6,561.16  $6,932.19  $7,303.21  $7,674.24
80     $6,101.13 $6,472.16  $6,843.19  $7,214.21  $7,585.24  $7,956.27
85     $6,383.16 $6,754.19  $7,125.21  $7,496.24  $7,867.27  $8,238.30
90     $6,665.19 $7,036.21  $7,407.24  $7,778.27  $8,149.30  $8,520.33
95     $6,947.21 $7,318.24  $7,689.27  $8,060.30  $8,431.33  $8,802.36
100    $7,229.24 $7,600.27  $7,971.30  $8,342.33  $8,713.36  $9,084.39
105    $7,511.27 $7,882.30  $8,253.33  $8,624.36  $8,995.39  $9,366.41
110    $7,793.30 $8,164.33  $8,535.36  $8,906.39  $9,277.41  $9,648.44
115    $8,075.33 $8,446.36  $8,817.39  $9,188.41  $9,559.44  $9,930.47
120    $8,357.36 $8,728.39  $9,099.41  $9,470.44  $9,841.47 $10,212.50
125    $8,639.38 $9,010.41  $9,381.44  $9,752.47 $10,123.50 $10,494.53
130    $8,921.41 $9,292.44  $9,663.47 $10,034.50 $10,405.53 $10,776.56
135    $9,203.44 $9,574.47  $9,945.50 $10,316.53 $10,687.56 $11,058.58
140    $9,485.47 $9,856.50 $10,227.53 $10,598.56 $10,969.58 $11,340.61


class          14
height
65      $7,481.21
70      $7,763.24
75      $8,045.27
80      $8,327.30
85      $8,609.33
90      $8,891.36
95      $9,173.39
100     $9,455.41
105     $9,737.44
110    $10,019.47
115    $10,301.50
120    $10,583.53
125    $10,865.56
130    $11,147.58
135    $11,429.61
140    $11,711.64

In [166]:
# write to file of course
out.to_excel('./out.xlsx', sheet_name='predictions', float_format='%.2f')